<section class='edit-form'>
  <%= form_tag(root_url + ENV['SECRET_URL'] + '/v' + '/' + @video.id.to_s + '/update') do |f| %>
    <%= label_tag 'Title' %>
    <%= text_field_tag(:title, @video.title, class: 'edit-title') %>
    <br>
    <%= label_tag 'Image name' %>
    <%= text_field_tag(:thumbnail, @video.thumbnail, class: 'edit-thumbnail') %>
    <br>
    <%= label_tag 'Summary' %>
    <%= text_field_tag(:summary, @video.summary, class: 'edit-summary') %>
    <br>
    <%= label_tag 'url' %>
    <%= text_field_tag(:url, @video.url, class: 'edit-summary') %>
    <br>
    <%= label_tag 'post date' %>
    <%= date_field_tag(:post_date, @video.post_date, class: 'edit-post_date') %>
    <br>
    <%= submit_tag 'Update' %>
  <% end %>
  <%= form_tag(root_url + ENV['SECRET_URL'] + '/v/' + @video.id.to_s + '/delete') do |f| %>
    <%= submit_tag 'DELETE VIDEO', data: { confirm: 'Are you sure?' } %>
  <% end %>
</section>

<section class='menu'>
  <% @videos.each do |video| %>
    <%= link_to (video.title || video.id.to_s), root_url + ENV['SECRET_URL'] + '/' + video.id.to_s + '/edit' %>
    <br>
  <% end %>
</section>

<%= link_to ('New Video'), :new_video %>
