<section class='page-header'>
  <section class='page-title'>
    <h1>Featured Post</h1>
  </section>
</section>
<section class='email-subscription-form jumbotron'>
  <section class='email-label'>
    <h3>Let me know about new posts!</h3>
  </section>
  <%= form_tag(subscribe_path, method: 'post') do |f| %>
    <%= label_tag 'Email' %>
    <%= email_field_tag(:email, '', class: 'email-form', placeholder: 'your@email.com') %>
    <section class='submit-button'>
      <%= submit_tag 'Subscribe' %>
    </section>
  <% end %>
</section>
<section class='feed'>
  <section class='featured'>
    <article class='post-preview jumbotron'>
      <section class='post-thumbnail'>
        <%= link_to image_tag(@featured.display_image, class: 'post-thumbnail-img'), 'news/' + @featured.id.to_s %>
      </section>
      <section class='post-descriptions'>
        <section class='post-title'>
          <a href=<%= 'news/' + @featured.id.to_s %>
            <strong><%= @featured.title %></strong>
          </a>
        </section>
        <hr>
        <section class='post-date'>
          <%= @featured.display_time %>
        </section>
        <section class='post-summary'>
          <%= @featured.summary %>
        </section>
      </section>
    </article>
  </section>
  <% if @posts %>
    <section class='page-title'>
      <h1>Recent Posts</h1>
    </section>
  <% end %>
  <% @posts.each do |post| %>
    <section class='past-articles'>
      <article class='post-preview jumbotron'>
        <section class='post-thumbnail'>
          <%= link_to image_tag(post.display_image, class: 'post-thumbnail-img'), 'news/' + post.id.to_s %>
        </section>
        <section class='post-descriptions'>
          <section class='post-title'>
            <a href=<%= 'news/' + post.id.to_s %>
              <strong><%= post.title %></strong>
            </a>
          </section>
          <hr>
          <section class='post-date'>
            <%= post.display_time %>
          </section>
          <section class='post-summary'>
            <%= post.summary %>
          </section>
        </section>
      </article>
    </section>
  <% end %>
</section>

<%= paginate @posts_obj %>
