<section class='post'>
  <section class='title'>
    <%= @post.title %>
  </section>
  <section class='photo'>
    <%= image_tag(@post.display_image) %>
  </section>
  <section class='misc-info'>
    <section class='timestamp'>
      <%= @post.display_time  %>
    </section>
    <section class='author'>
      Alex Beeken
    </section>
  </section>
  <hr>
  <section class='content'>
    <%= @post.content.html_safe %>
  </section>
  <section class='social'>
    <section class='social-button'>
      <%= facebook_button %>
    </section>
    <section class='social-button'>
      <%= linkedin_button %>
    </section>
    <section class='social-button'>
      <%= twitter_button %>
    </section>
    <section class='social-button'>
      <%= google_plus_button %>
    </section>
  </section>
</section>
