<div class='promo'>
  <article class='promo-blurb'>
    <header class='promo-blurb-left'>
      <header class='promo-blurb-title'>
        Welcome!
      </header>
      <article class='promo-blurb-body'>
        Mr.Beeken is a Youtube channel that aims to teach basic music theory in a fun and practical way.
      </article>
    </header>
    <article class='promo-blurb-photo'>
      <%= video_tag('intro.mp4', autoplay: true, loop: true) %>
    </article>
  </article>

  <article class='promo-blurb'>
    <header class='promo-blurb-left'>
      <header class='promo-blurb-title'>
        It's Edutainment
      </header>
      <article class='promo-blurb-body'>
        Amongst a sea of boring music tutorials, Mr. Beeken’s videos are fun,
        fast paced and jam packed with educational content.
      </article>
    </header>
    <article class='promo-blurb-photo'>
      <%= video_tag('teaching.mp4', autoplay: true, loop: true) %>
    </article>
  </article>


  <article class='promo-blurb'>
    <header class='promo-blurb-left'>
      <header class='promo-blurb-title'>
        Used by Teachers
      </header>
      <article class='promo-blurb-body'>
        Teachers are using these videos more and more in their classroom to bring humor to a traditionally difficult subject.
      </article>
    </header>
    <article class='promo-blurb-photo'>
      <%= video_tag('solfege.mp4', autoplay: true, loop: true) %>
    </article>
  </article>

  <article class='promo-blurb'>
    <header class='promo-blurb-left'>
      <header class='promo-blurb-title'>
        Safe for Work
      </header>
      <article class='promo-blurb-body'>
        There is no swearing or (inappropriately) dark themes in Mr. Beeken. However, these lessons intended for ages 12 to infinity so expect satire, sarcasm, parody and panache.
      </article>
    </header>
    <article class='promo-blurb-photo'>
      <%= video_tag('why.mp4', autoplay: true, loop: true) %>
    </article>
  </article>

  <article class='promo-blurb'>
    <header class='promo-blurb-left'>
      <header class='promo-blurb-title'>
        So what do I do?
      </header>
      <article class='promo-blurb-body'>
        You can read articles and behind the scenes info on the <a href='/news'>news feed</a>. You can also find links to all video lessons on the <a href='/videos'>videos page</a>!
      </article>
    </header>
    <article class='promo-blurb-subscribe'>
      <section class='email-subscription-form jumbotron'>
        <section class='email-label'>
          <h3>Please join the mailing list.</h3>
          <p>We'll let you know first about some big plans around the corner!</p>
        </section>
        <%= form_tag(subscribe_path, method: 'post') do |f| %>
          <%= label_tag 'Email' %>
          <%= email_field_tag(:email, '', class: 'email-form', placeholder: 'your@email.com') %>
          <section class='submit-button'>
            <%= submit_tag 'Subscribe' %>
          </section>
        <% end %>
      </section>
    </article>
  </article>
</div>
