<section>
  <section class='support-explanation'>
    <h1 class='patreon-link-spacer'>
      <%= link_to raw("Continue to Patreon <icon class='fa fa-arrow-right'></icon>"), 'https://www.patreon.com', class: 'patreon-link' %>
    </h1>
      <h2>
        wait, what is Patreon?
      </h2>
      <p class='support-answer'>
        Patreon is a website that allows online creators like me to reward you for your donation.
        It's like kickstarter but the projects are ongoing.
      </p>
    <hr>
      <h2>
        how does it work?
      </h2>
      <p class='support-answer'>
        You sign up for an account on Patreon and then make a pledge to support Mr. Beeken.
        Mr. Beeken's Patreon will then charge you the amount of your pledge <strong> when a video is released</strong>.
        Video release times will vary from video to video.
      </p>
    <hr>
      <h2> ...but I don't want to pay several times a month!?!</h2>
        <p class='support-answer'>
          You can cap your per video pledge at a <strong>monthly maximum</strong>.
          So there are no surprises when you are charged.
        </p>
    <hr>
      <h2> cool! What are your rewards?</h2>
      <p class='support-answer'>
        Check out my reward tiers below.
        There are <strong>one time rewards</strong> for first time pledgers and <strong>recurring rewards</strong> that you
        can receive each time a new video is released.
      </p>
    <hr>
    <section class='rewards-tables'>
      <table class='table'>
        <tr>
          <th>
            <h3>
              One Time Rewards
            </h3>
          </th>
          <%= render 'layouts/reward_table_header', path: image_url('1.png'), text: "Learner's Permit" %>
          <%= render 'layouts/reward_table_header', path: asset_url('3.png'), text: 'License to Laugh' %>
          <%= render 'layouts/reward_table_header', path: asset_url('10.png'), text: 'Gentleperson/Scholar' %>
          <%= render 'layouts/reward_table_header', path: asset_url('25.png'), text: 'Expecto Patreonum!' %>
          <%= render 'layouts/reward_table_header', path: asset_url('50.png'), text: 'I want to be involved' %>
          <%= render 'layouts/reward_table_header', path: asset_url('100.png'), text: 'Citizen Sponsor' %>
        </tr>
        <%= render 'layouts/reward_row', title: 'License to Learn PDF', rewards: [true, true, true, true, true, true] %>
        <%= render 'layouts/reward_row', title: '+ $10 Store Credit', rewards: [false, false, true, true, true, true] %>
        <%= render 'layouts/reward_row', title: '+ $15 Store Credit', rewards: [false, false, false, true, true, true] %>
        <%= render 'layouts/reward_row', title: 'Thank You Postcard', rewards: [false, false, false, true, true, true] %>
        <%= render 'layouts/reward_row', title: 'Oval Sticker', rewards: [false, false, false, true, true, true] %>
        <%= render 'layouts/reward_row', title: '+ 10 Oval Stickers', rewards: [false, false, false, false, true, true] %>
      </table>
      <hr>
      <table class='table'>
        <tr>
          <th>
            <h3>
              Recurring Rewards
            </h3>
          </th>
          <%= render 'layouts/reward_table_header', path: asset_url('1.png'), text: "Learner's Permit" %>
          <%= render 'layouts/reward_table_header', path: asset_url('3.png'), text: 'License to Laugh' %>
          <%= render 'layouts/reward_table_header', path: asset_url('10.png'), text: 'Gentleperson/Scholar' %>
          <%= render 'layouts/reward_table_header', path: asset_url('25.png'), text: 'Expecto Patreonum!' %>
          <%= render 'layouts/reward_table_header', path: asset_url('50.png'), text: 'I want to be involved' %>
          <%= render 'layouts/reward_table_header', path: asset_url('100.png'), text: 'Citizen Sponsor' %>
        </tr>
        <%= render 'layouts/reward_row', title: '10% Store Discount', rewards: [true, true, true, true, true, true] %>
        <%= render 'layouts/reward_row', title: 'Blooper Reels', rewards: [false, true, true, true, true, true] %>
        <%= render 'layouts/reward_row', title: 'Videos 1 Week Early', rewards: [false, false, true, true, true, true] %>
        <%= render 'layouts/reward_row', title: 'Store Codes and Sales', rewards: [false, false, false, true, true, true] %>
        <%= render 'layouts/reward_row', title: 'Episode Notes', rewards: [false, false, false, false, true, true] %>
        <%= render 'layouts/reward_row', title: 'Future Episode Discussion', rewards: [false, false, false, false, true, true] %>
        <%= render 'layouts/reward_row', title: 'Personal Thank You Video', rewards: [false, false, false, false, false, true] %>
        <%= render 'layouts/reward_row', title: 'Brought To You By: Your Name', rewards: [false, false, false, false, false, true] %>
      </table>
    </section>
  </section>
  <h1 class='patreon-link-spacer'>
    <%= link_to raw("Continue to Patreon <icon class='fa fa-arrow-right'></icon>"), 'https://www.patreon.com', class: 'patreon-link' %>
  </h1>
</section>
