<section>
  <p class='support-message'>
     Please support me on <a href='www.patreon.com'>Patreon!</a>
  </p>
  <section class='support-explanation'>
    <p>
    You can choose the amount to donate per video and you can <strong>cap it per month</strong>
    so you're never donating more than you want to.
    </p>
    <table class='table'>
      <th>
        <td>
          <h3>
            Rewards
          </h3>
        </td>
        <td>
          <%= render 'layouts/reward_table_header', path: '1.png' %>
        </td>
        <td>
          <%= render 'layouts/reward_table_header', path: '3.png' %>
        </td>
        <td>
          <%= render 'layouts/reward_table_header', path: '5.png' %>
        </td>
        <td>
          <%= render 'layouts/reward_table_header', path: '10.png' %>
        </td>
        <td>
          <%= render 'layouts/reward_table_header', path: '25.png' %>
        </td>
        <td>
          <%= render 'layouts/reward_table_header', path: '50.png' %>
        </td>
        <td>
          <%= render 'layouts/reward_table_header', path: '100.png' %>
        </td>
      </th>
      <tr>
        <td>
          <p>
            10% store discount
          </p>
        </td>
      </tr>
    </table>
  </section>
</section>
