<article class='nav-link'>
  <%= link_to path do %>
    <% if (actions.include?(action_name)) && (controller_name == controller) %>
      <article class='nav-text active-link'>
        <article class='nav-icon'>
          <i class="<%= icon %>"></i>
        </article>
        <p>
          <%= text %>
        </p>
      </article>
    <% else %>
      <article class='nav-text'>
        <article class='nav-icon'>
          <i class="<%= icon %>"></i>
        </article>
        <p>
          <%= text %>
        </p>
      </article>
    <% end %>
  <% end %>
</article>
