<!DOCTYPE html>
<html>
<head>
  <title>Mr. Beeken</title>
  <link rel="icon" type="image/png" href="/favicon.ico"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
</head>
<body>
  <%= render 'layouts/nav_menu' %>
  <section class='main-spacer'>
    <%= yield %>
  </section>
</body>
</html>
